.App {
  text-align: center;
  /* font-family: 'Noto Sans', sans-serif; */
  font-family: 'Poppins', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card__header {
    text-transform: uppercase;
    font-size: 30px;
  }
.card__button {
    padding: 10px;
    border-radius: 50px;
    background: #1f75c4;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin: 50px auto;
  }
.card__info {
  font-size: px;
}

